.WeatherApp {
  background: #f1f3f8;
  border: 1px solid;
  border-color: #8d93ab;
  border-radius: 10px;
  max-width: 800px;
  margin: 50px auto;
  padding: 15px 20px;
}

.Bar {
  display: block;
  width: 80%;
  height: 1px;
  background-color: #d6e0f0;
  border: 0;
}
